@font-face
  font-family: 'FiraCode'
  src: url('/fonts/fira-code/FiraCode-Light.woff2') format('woff2'), url('/assets/fonts/fira-code/FiraCode-Light.woff') format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'FiraCode'
  src: url('/fonts/fira-code/FiraCode-Regular.woff2') format('woff2'), url('/assets/fonts/fira-code/FiraCode-Regular.woff') format("woff")
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'FiraCode'
  src: url('/fonts/fira-code/FiraCode-Medium.woff2') format('woff2'), url('/assets/fonts/fira-code/FiraCode-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal

@font-face
    font-family: 'TechnaSans'
    src: url('/fonts/techna-sans/TechnaSans-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal

*
  box-sizing: border-box

html
  width: 100vw
  height: 100vh

body
  margin: 0
  padding: 0
  font-family: TechnaSans
  overflow: clip
