[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.128.4"
opentelemetry-proto = "==1.39.1"
uvicorn = {extras = ["standard"], version = "==0.40.0"}

[dev-packages]

[requires]
python_version = "3.12"
