\:host
  display: flex
  flex-direction: row
  height: 100vh
  position: relative

  .menu
    display: flex
    flex-direction: column
    width: 64px
    background: var(--dark-color)
    padding: 0
    // Ensure that menu always remain on top
    z-index: 10

    .spacer
      flex-grow: 1

    button
      background: none
      border: none
      padding: 15px 0
      color: white
      font-size: 20px
      cursor: pointer

      img
        width: 36px
        height: 36px
        transition: transform 250ms ease

      &:hover
        img
          transform: scale(1.2)

      &.now
        img
          transform: scale(0.6)

      &:active
        animation: flicker 250ms

      &:disabled
        opacity: 0.5
        cursor: default

  .panel
    position: absolute
    top: 0
    height: 100%
    width: 300px
    background: var(--dark-color)
    color: #fcfcfc
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
    transition: all 300ms ease
    overflow: auto
    z-index: 5              // Keep below 'menu'

    &.left
      left: 64px
      transform: translateX(-100%)

      &.p-opening,
      &.open
        transform: translateX(0)

    &.right
      right: 0px
      transform: translateX(100%)

      &.p-opening,
      &.open
        right: 64px
        transform: translateX(0)
    //
    // Used temporarily when switching position.
    // Else, animations start in reaction to change in position.
    //
    &.silent
      transition: none !important
      opacity: 1

    .fields
      padding: 16px
      flex: 1 0 auto

      .title
        padding: 0 0 4px 0
        margin: 0 0 16px 0

        border-bottom: 2px solid var(--accent-color)

        font-size: 20px
        font-weight: 600

      fieldset
        display: flex
        flex-direction: column
        margin: 0
        padding: 0
        border: none

        legend
          display: none

        label
          margin: 8px 0

    &.full
      display: flex
      width: calc(100vw - 64px)
      padding: 16px

    .filters
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
      gap: 16px
      overflow: auto

      // Ensure that parent padding is respected.
      flex: 1 0 auto

      .filter
        padding: 4px
        border: 1px solid var(--dark-border-color)


@keyframes flicker
  0%
    filter: brightness(1)
  50%
    filter: brightness(2)
  100%
    filter: brightness(1)
