<div class="menu">
  <img ngSrc="/yo-log-512px.svg"
    width="64"
    height="64"
    alt="LOGO"
    priority />

  <button
    [class.now]="activeRoute === '/' || activeRoute === '/home'"
    [disabled]="activeRoute === '/' || activeRoute === '/home'"
    (click)="go('home')">

    <img ngSrc="/icons/home.svg"
      width="48"
      height="48"
      alt="HOME" />
  </button>

  <button
    [class.now]="activeMenu === 'level'"
    (click)="togglePanel('level')">

    <img ngSrc="/icons/stairs.svg"
      width="48"
      height="48"
      alt="Select Levels" />
  </button>

  <button
    [class.now]="activeMenu === 'column'"
    (click)="togglePanel('column')">

    <img ngSrc="/icons/table_chart.svg"
      width="48"
      height="48"
      alt="Select Columns" />
  </button>

  <button
    [class.now]="activeMenu === 'filter'"
    (click)="togglePanel('filter')">

    <img ngSrc="/icons/app_registration.svg"
      width="48"
      height="48"
      alt="Filter Columns" />
  </button>

  <div class="spacer"></div>

  <button (click)="toggleLogging()">
    <img [ngSrc]="logPaused ? '/icons/play.svg' : '/icons/pause.svg'"
      width="48"
      height="48"
      alt="Play/Pause" />
  </button>

  <div class="spacer"></div>

  <button (click)="togglePosition()">

    <img ngSrc="/icons/swap_horiz.svg"
      width="48"
      height="48"
      alt="Swap Position" />
  </button>

  <div class="spacer"></div>

  <button
    [class.now]="activeRoute === '/settings'"
    [disabled]="activeRoute === '/settings'"
    (click)="go('settings')">

    <img ngSrc="/icons/settings.svg"
      width="48"
      height="48"
      alt="Settings" />
  </button>

  <div class="spacer"></div>

  <button
    [class.now]="activeRoute === '/license'"
    [disabled]="activeRoute === '/license'"
    (click)="go('license')">

    <img ngSrc="/icons/license.svg"
      width="48"
      height="48"
      alt="License" />
  </button>

  <button
    [class.now]="activeRoute === '/about'"
    [disabled]="activeRoute === '/about'"
    (click)="go('about')">

    <img ngSrc="/icons/signpost.svg"
      width="48"
      height="48"
      alt="About" />
  </button>
</div>

<div #panelRef [class]="getPosition() + ' panel'">
  <div class="fields">
  @switch (activeMenu) {
    @case ('level') {
    <!-- Filter log levels -->
      <div class="title">Select LOG Level</div>

      <fieldset>
        <legend>Select LOG Level</legend>

        @for (level of logLevels; track level.key) {
          <label class="sp-radio">
            <input type="radio"
              name="logLevel"
              value="level.key"
              [checked]="getLogLevel() == level.value"
              (change)="setLogLevel(level.value)" />

            <span class="icon"></span>

            {{ level.label }}
          </label>
        }
      </fieldset>
    }

    @case ('column') {
      <!-- Filter log columns -->
      <div class="title">Select LOG Level</div>

      <fieldset>
        <legend>Select LOG Columns</legend>

        @for (col of logColumns; track col.key) {
          <label class="sp-checkbox">
            <input type="checkbox"
              name="{{ col.key }}"
              [disabled]="isColumnAlways(col.key)"
              [checked]="isColumnShow(col.key)"
              (change)="toggleColumn(col.key)" />

            <span class="icon"></span>

            {{ col.label }}
          </label>
        }
      </fieldset>
    }
  }
  </div>
</div>
