<img ngSrc="/yo-log-512px.svg"
  width="64"
  height="64"
  alt="LOGO"
  priority />

<div class="author">
  <div class="name">Sanjeev Premi</div>
  <div class="url">http://github.com/spremi</div>
</div>

<div class="head">
  <span class="version">Version 0.8.0</span>

  <span class="h-spacer"></span>

  <button class="close" aria-label="Close"
    (click)="goHome()">
    <img ngSrc="/icons/close.svg"
      width="32"
      height="32"
      alt="CLOSE" />
  </button>
</div>

<div class="history">
  <div class="history-title">History</div>
  <div class="history-text">
    <dt>v0.8.0</dt>
    <dd>Initial alpha version.</dd>
  </div>
  <div class="history-text">
    <dt>v0.8.1</dt>
    <dd>- Log ingestion over gRPC.</dd>
    <dd>- Minor UI updates.</dd>
    <dd>- Foundational support for timestamp formatting.</dd>
  </div>
</div>
